/* catamaran-regular - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/catamaran-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/catamaran-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/catamaran-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/catamaran-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/catamaran-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/catamaran-v8-latin-regular.svg#Catamaran') format('svg'); /* Legacy iOS */
}

/* catamaran-500 - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/catamaran-v8-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/catamaran-v8-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/catamaran-v8-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/catamaran-v8-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./fonts/catamaran-v8-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/catamaran-v8-latin-500.svg#Catamaran') format('svg'); /* Legacy iOS */
}

/* catamaran-700 - latin */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/catamaran-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/catamaran-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/catamaran-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/catamaran-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/catamaran-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/catamaran-v8-latin-700.svg#Catamaran') format('svg'); /* Legacy iOS */
}

* {
	margin: 0;
}

body {
	font-family: 'Catamaran';
	font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.container {
	width: 1000px;
	margin: 0 auto;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

header {
	display: flex;
	background-color: black;
}

.photo-container {
	width: 150px;
	padding: 20px 30px;
}

img {
	width: 100%;
	height: auto;
}

.info-container {
	padding: 0 50px;
}

h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	color: white;
	border-bottom: 2px solid white;
}

h2 {
	font-family: 'Catamaran';
	font-weight: 500;
	font-size: 36px;
	color: #0077b7;
	margin-bottom: 20px;
	position: relative;
}

h2::after {
	content: "";
	width: 60%;
	height: 2px;
	background-color: #0077b7;
	position: absolute;
	bottom: -2px;
	left: 0;
}

section {
	margin-bottom: 20px;
}

.blue {
	color: #0077b7;
}

a {
	text-decoration: none;
}

.contacts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px;
	color: white;
}

.icon{
	width: 35px;
	height: auto;
}

.contact-item {
	display: flex;
	align-items: center;
}

.contacts-info {
	margin-left: 10px;
	color: #ffffff;
}
/* Header end */
main {
	padding: 50px;
}

article {
	text-align: center;
	font-size: 18px;
	margin-bottom: 40px;
}

.education-info,
.languages-info {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 50px;
	grid-row-gap: 5px;
	padding: 0 20px;
	align-items: center;
}

li {
	text-transform: uppercase;
}
footer {
	background-color: #202026;
	height: 150px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer-logo {
	width: 100px;
	height: auto;
}

.rs-logo {
	width: 250px;
	height: auto;
}

.created {
	font-size: 32px;
}